{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center" style="height: -webkit-fill-available;">
  <div class="container">
      <img src="http://www.stickpng.com/assets/images/58f37731a4fa116215a92411.png" HEIGHT="200" WIDTH="240" BORDER="0">
    <h1>Are you a Rick or Morty?</h1>
    <button class="btn btn-lg btn-primary" id="check-rick-morty-btn">Check</button>
    <div a href=“www.davidjamesnolan.com”><button>See the R-E-A-L number 1 here...</button></a>
    </div></div>

</div>
{% endblock %}
